{% extends 'base.html' %}
{% load static %}

{% block title %}
Детальный просмотр фото
{% endblock %}

{% block content %}




    {% comment %} {% for photo in photos %} {% endcomment %}

    <div class="row row-cols-1 g-4" id="{{photo.pk}}">
        <div class="col" style="width: min-content;">

            <div class="card">

                <div class="box">
                    {% comment %} {% if photo %} {% endcomment %}
                    <a href="#">
                        <img class="box_img border border-2 img" src="{{ photo.photo.url }}" alt="image" width="350">
                        {% comment %} {% else %} {% endcomment %}
                            {% comment %} <img class="box_img border border-2 rounded-circle img" src="{% static 'img/placeholder.png' %}" alt="image" width="500"> {% endcomment %}
                        {% comment %} {%endif%} {% endcomment %}
                    </a>
                </div>

                <div class="card-body">
                
                    Автор: <b>{{ photo.author }}</b><br>
                
                    <span class="card-text">Описание: {{ photo.signature }}</span><br>
                    <span class="card-text">Дата создания: {{ photo.created_at }}</span>
                </div>
            </div>
        </div>
    </div>

{% comment %} {% endfor %} {% endcomment %}

{% endblock %}
